* {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8 !important;
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid blue;
  margin-top: 10px;
}
.footer-bottom-section > div:first-child {
  margin-right: auto;
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}
.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 767px) {
  .rs-dropdown .rs-dropdown-menu {
    left: auto;
    right: 0;
  }
  /* .offers-captions {
    flex-direction: column !important;
    align-items: center !important;
  }
  .offers-captions > div {
    text-align: center;
  } */
}

/* Login page  */
.login-wrapper {
  /* background-image: url('https://images.hdqwalls.com/download/long-mountain-ranges-landscape-orange-dark-sky-5k-vx-2560x1440.jpg'); */
  background-image: url('./../images/adminbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-wrapper .login-container {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.login-wrapper .login-container .login-btn {
  width: 100%;
  border-radius: 30px !important;
}
.login-wrapper .login-container .rs-panel-title {
  color: #ca2e2c;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.login-wrapper .login-container .rs-panel-heading {
  padding-bottom: 0;
}


/* dashboard page */
.dashboard-wrapper .dashboard-header {
  background-color: #eeeeee !important;
  padding: 0 15px;
}
.dashboard-content-wrapper {
  padding: 24px 15px !important;
  overflow-y: auto;
}
.dashboard-box {
  width: 25%;
  padding-right: 10px;
}
.dashboard-box:first-child {
  min-width: 200px;
}
.dashboard-box > div {
  height: 200px;
  background-color: #eeeeee;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dashboard-box > div > div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.dashboard-right {
  display: "flex";
  flex-direction: "column";
  background-color: #eeeeee;
  padding: 20px !important;
  border-radius: 6px;
}
.dashboard-right-inner {
  margin: 40px 0 15px 0;
}
.dashbard-right-blocks .dashbard-right-block {
  display: "flex";
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  justify-content: space-between;
  background-color: "#f7f7fa";
}

/*  dashboard forms */
.dashboard-forms .rs-form {
  display: inline-block;
}
.dashboard-forms .rs-form-group .rs-form-control-wrapper,
.dashboard-forms .rs-form-group .rs-form-control-wrapper input,
.dashboard-forms .rs-form-group .rs-form-control-wrapper textarea,
.dashboard-forms .rs-form-group .rs-picker-date,
.dashboard-forms .rs-form-group .rs-picker-select,
.dashboard-forms .rs-form {
  width: 100%
}
.dashboard-forms .rs-form-group {
  width: 49%;
  min-height: 88px;
  float: left;
  padding-right: 2%;
}
.mandatory {
  color: #ca2e2c;
  font-size: 24px;
  line-height: 1;
  float: left;
}
.dashboard-forms .rs-form-group.large {
  width: 100%;
  margin-right: 0;
}

/* custom drawyer */
.custom-drawyer {
  max-width: 80%;
}

/* vendor information */
.vendorInformation-wrapper .vendorInformation-wrapper__grid > div {
  display: table !important;
  width: 100%;
  margin-bottom: 10px;
}
.vendorInformation-wrapper .vendorInformation-wrapper__grid > div strong,
.vendorInformation-wrapper .vendorInformation-wrapper__grid > div span {
  display: table-cell;
  width: 50%;
}
.vendorInformation-wrapper__table {
  margin-top: 20px;
}
.vendorInformation-wrapper__table td {
  padding: 0 10px 10px 0;
}

@media only screen and (max-width: 599px) {
  .dashboard-forms .rs-form-group {
    width: 100%;
    margin-right: 0;
  }
  .offers-captions > div:first-child {
    margin-bottom: 20px;
  }
}


.offers-captions {
  padding: 0 15px;
  justify-content: space-between !important;
}
.custom-navigation-drawyer__activator {
  position: absolute;
  left: 100%;
  font-size: 22px !important;
  background: #0e4b93;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px !important;
  text-align: center;
  z-index: 11;
}

@media only screen and (min-width: 961px) {
  .dashboard-address {
    display: none;
  }
  .custom-navigation-drawyer__activator {
    display: none;
  }
  .settings-container {
    padding: 24px;
  }
}
@media only screen and (max-width: 960px) {
  .dashboard-page .dashboard-left,
  .dashboard-page .dashboard-right {
    width: 100%;
  }
  .settings-container {
    padding: 65px 24px 24px 24px !important;
  }
  .dashboard-left .rs-container {
    flex-wrap: wrap;
  }
  .dashboard-box {
    width: 50%;
    margin-bottom: 10px;
  }
  .dashboard-address {
    margin-bottom: 20px;
  }
  .dashboard-right .address {
    display: none;
  }
  .dashboard-right-inner {
    margin-top: 0;
  }
  .rs-dropdown .rs-dropdown-menu{
    min-width: 100px;
    right: 0;
    left: auto !important; 
  }
  .custom-navigation-drawyer {
    position: absolute;
    z-index: 1;
    left: -240px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .custom-navigation-drawyer.active {
    left: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}
[class |="rs-modal rs-modal"] {
  max-width: 80%;
}